{#src/OC/PlatformBundle/resources/views/Advert/sortie.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue sur ma première page avec OpenClassrooms !</title>
	</head>
	<body>
		<h1>Au revoir {{ nom }} !</h1>
		
		<p>
			Le Hello World est un grand classique en programmation.
			Il signifie énormément, car cela veut dire que vous avez 
			réussi à exécuter le programme pour accomplir une tâche simple : 
			afficher ce hello world !
			<br/>
			Et voici la deuxième page faite de façon plus autonome, espèrons que cela fonctionne !
		</p>
	</body>
</html>